bcrypt==3.2.2
Django==4.0.6
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
PyMySQL==1.0.2
cryptography==37.0.4
django-cors-headers==3.13.0
drf-yasg==1.21.0
django-environ==0.9.0
django-storages==1.12.3
mysqlclient==2.1.1

gunicorn
django-prometheus

#yolov5
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.64.0
protobuf<=3.20.1  
tensorboard>=2.4.1
pandas>=1.1.4
seaborn>=0.11.0
ipython 
psutil 
thop>=0.1.1 

#trash api
boto3
paginator
PyAMQP
django_celery_beat
django_celery_results
celery
redis
