@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "Itim";
  font-display: fallback;

  /* 
  src: 사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => ttf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: url("./Itim-Regular.ttf") format("truetype"),
    url("./Itim-Regular.woff") format("woff"),
    url("./Itim-Regular.eot?iefix") format("embedded-opentype");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "IrishGrover";
  font-display: fallback;

  src: url("./IrishGrover-Regular.ttf") format("truetype"),
    url("./IrishGrover-Regular.woff") format("woff"),
    url("./IrishGrover-Regular.eot?iefix") format("embedded-opentype");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}
